# Sistema operacional
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log


build/
dist/
public/


.env
.env.local
.env.development
.env.test
.env.production

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.log


package-lock.json
yarn.lock

vendor/

*.tmp
*.swp
*.bak
*.swo


.cache/
.nyc_output/
coverage/
